.message-group {
  margin-top: 24px;
  padding: 0 18px 0 12px;
  max-width: 75%;
  display: flex;
  flex-direction: row;

  &:first-child {
    margin-top: 0;
  }

  &.me {
    margin-left: 25%;
    text-align: right;
    flex-direction: row-reverse;
  }

  app-chat-user-avatar {
    flex-shrink: 0;
    flex-basis: 42px;
  }
}

app-chat-message {
  display: block;
  margin-bottom: 6px;
}

.date-time {
  font-size: 0.75rem;
  color: rgb(66, 77, 87);
  margin-top: 0.5rem;
}
