<form name="recoverYourPasswordForm"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.label.email' | translate }}</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="1"
      type="email"
      formControlName="email"
      placeholder="{{ 'auth.label.email' | translate }}" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="emailControl.errors">
      <span *ngIf="emailControl.errors['required']">
        {{ 'auth.error.email.required' | translate }}
      </span>
      <span *ngIf="emailControl.errors['email']">
        {{ 'auth.error.email.invalid' | translate }}
      </span>
    </mat-error>
  </mat-form-field>

  <div>
    <span fxFlex></span>
    <button mat-raised-button
      tabindex="2"
      color="accent"
      type="submit"
      class="action-button w-100"
      [disabled]="form.invalid || pending">
      {{ 'auth.button.sendResetLink' | translate }}
    </button>
  </div>

</form>

<div class="text-center mt-32">
  <a [routerLink]="[ '/login' ]">Back to login</a>
</div>
