<form name="resetPasswordForm"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.label.password' | translate }}</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="1"
      type="text"
      placeholder="{{ 'auth.label.password' | translate }}"
      formControlName="password" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.password.required">
        {{ 'auth.error.password.required' | translate }}
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.label.confirmPassword' | translate }}</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="2"
      type="password"
      placeholder="{{ 'auth.label.confirmPassword' | translate }}"
      formControlName="confirmPassword" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.confirmPassword.required">
          {{ 'auth.error.confirmPassword.required' | translate }}
      </span>
      <span *ngIf="formErrors.confirmPassword.mustMatch">
          {{ 'auth.error.confirmPassword.mustMatch' | translate }}
      </span>
    </mat-error>
  </mat-form-field>

  <div>
    <span fxFlex></span>
    <button mat-raised-button
      tabindex="3"
      color="accent"
      type="submit"
      class="action-button w-100"
      [disabled]="form.invalid || pending">
      {{ 'auth.button.resetPassword' | translate }}
    </button>
  </div>

</form>

<div class="text-center mt-32">
  <a [routerLink]="[ '/login' ]">Login</a>
</div>
