mat-toolbar {
  position: relative;
  z-index: 4;

}

.menu-bar {
  height: 100%;


  .menu-button {
    height: 100%;
    border-radius: 0;
  }

  .user-button {}
}

.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  text-align: center;
}

.language-flag {
  width: 16px;
  min-width: 16px;
  margin: 0 8px 0 0;
}
