<form name="loginForm"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.label.username' | translate }}</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="1"
      type="text"
      readonly
      placeholder="{{ 'auth.label.username' | translate }}"
      formControlName="username" />
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput
      autocomplete="off"
      tabindex="2"
      type="password"
      placeholder="{{ 'auth.label.password' | translate }}"
      formControlName="password" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.password.required">
          {{ 'auth.error.password.required' | translate }}
      </span>
    </mat-error>
  </mat-form-field>

  <div>
    <span fxFlex></span>
    <button mat-raised-button
      tabindex="3"
      color="accent"
      type="submit"
      class="action-button w-100"
      [disabled]="form.invalid || pending">
      {{ 'auth.button.unlock' | translate }}
    </button>
  </div>

</form>
